$primary:#162139;
$secondary: #F33C3C;
$nav: #ffffff;
$gray-600: #626262;
$success: #b4ad9e;






$container-width: 1600px;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 7,
  7: $spacer * 12,
 
) !default;



$font-family-base: "'Playfair Display', serif";

$font-size-base:  1rem !default;


$h1-font-size:                $font-size-base * 4;
$h2-font-size:                $font-size-base * 3.2;
$h3-font-size:                $font-size-base * 1.5;   
$p-font-size:                $font-size-base * 1.2;    




